<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" Culture="neutral" PublicKeyToken="30ad4fe6b2a6aeed" />
        <!-- Assembly versions can be redirected in app,
          publisher policy, or machine configuration files. -->
        <bindingRedirect oldVersion="1.0.0.0-10.0.1.0" newVersion="10.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>